<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">



    <http pattern="*.js" security="none"/>
    <http pattern="*.css" security="none"/>

       <http auto-config="true">

           <intercept-url pattern="/user/login*" access="hasRole('ANONYMOUS')"/>
           <intercept-url pattern="/user/register*" access="hasRole('ANONYMOUS')"/>

            <form-login login-page="/user/login" default-target-url="/home"
                    login-processing-url="/login.do"
                    />



           <intercept-url pattern="/**" access="hasRole('USER')"/>

       </http>

       <authentication-manager>
              <authentication-provider  user-service-ref="userReadManagerImpl">
                  <!--<user-service>
                      <user name="yangtao.lyt@alibaba-inc.com" password="123" authorities="ROLE_USER, ROLE_ANONYMOUS"/>
                  </user-service>-->

              </authentication-provider>
       </authentication-manager>

    <beans:bean id="authorizationListener"
                class="org.springframework.security.access.event.LoggerListener" />

</beans:beans>